<main class="toolbar">
    <header>
        <nav>
            <div class="title">Forlaget</div>
            <div class="links">
            </div>
            <ul>
                <li><a routerLink="/">Home</a>
                </li>
                <li><a routerLink="/book" routerLinkActive="active">Forlagets Bøger</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Bog Administration</a>
                    <div class="dropdown-content">
                        <a routerLink="/createauthor">Opret Forfatter</a>
                        <a routerLink="/editauthor">Rediger Forfatter</a>
                        <a routerLink="/createartist">Opret Kunstner</a>
                        <a routerLink="/editartist">Redigér Kunstner</a>
                        <a routerLink="/createcover">Opret Bogomslag</a>
                        <a routerLink="/editcover">Redigér Bogomslag</a>
                        <a routerLink="/createbook">Opret Bog</a>
                        <a routerLink="/editbook">Rediger Bog</a>
                    </div>
                </li>

            </ul>
        </nav>

    </header>
</main>