<main class="toolbar">
    <header>
        <nav>
            <div class="title">Forlaget</div>
            <div class="links">
            </div>
            <ul>
                <li><a routerLink="/">Home</a>
                </li>
                <li><a routerLink="/book" routerLinkActive="active">Om mig</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Projekter Online</a>
                    <div class="dropdown-content">
                        <a href="https://gnist.show/" target="_blank">Gnist</a><br>
                        <a href="https://foreningenatopos.github.io/Atopos" target="_blank">Atopos</a>
                    </div>
                </li>
                <li><a routerLink="/contactform">Kontakt</a></li>

            </ul>
        </nav>

    </header>
</main>