/* .container {
    display: flex;
    justify-content: center;
    margin-top: 50px;

} */
.hero-image {
    width: 100%;
    height: 86vh;
    /* Sæt hero-billedet her; URL skal pege på det valgte billede */
    background: url('../../../public/images/skovflod.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.hero-tekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}